*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hedvig Letters Serif', serif;
}

body{
    background-color: rgb(255, 255, 255);

}
header{
    display: flex;
    align-items: center;
    padding-top: 90px;
}
header img{
    max-width: 80px;
}

header h1{
    font-size: 40px;
   

}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

form button{
    background-color: rgba(6, 174, 6, 0.799);
    color:white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin: 30px;

}
form input{
    background-color: rgba(156, 156, 206, 0.331);
    font-size: 24px;
    padding: 8px;
    margin: 30px;
    border: none;
    
    

}
form{
    display: flex;
    max-width: 960;
    width: 100%; 

}

table{
    width: 95%;
}
table th{
    font-size: 18px;
    padding: 8px;
    margin: 20px;
    justify-content: space-between;
    
   
}
table td{
    padding: 8px, 0;
    text-align: center;
    font-size: 12px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.container h4{
    width: 90%;
   margin-top: 40px;
    text-align: center;
    margin: 100px, auto ;
    padding: 20px;
}
